/*   Courgette */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@1,600&family=Roboto+Condensed:ital,wght@1,500&display=swap');
/*   Josefin Sans */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
/* Dancing Script */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/* BODY */
body {
    padding: 20px;
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
}

.desde {
    font-family: "Dancing Script", sans-serif, serif;
    text-align: center;
    font-size: 30px;
    margin: 0;
}
h1 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 15px;
    position: relative;
    text-align: center;
    font-family: "Josefin Sans", sans-serif, serif;
}

h2 {
    font-size: 50px;
    text-align: center;
    font-family: "Josefin Sans", sans-serif, serif;
    margin-bottom: 10px;
}



/* Menú */
.menu {
    position: relative; 
    width: 80%;
    max-width: 90vw;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    height: 94vh;
    z-index: 1;
}
body, .menu {
    background-color: white; 
}

.logo {
    background-image: url(./img/Logo.png); 
    background-size: contain;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    max-width: 500px;
    max-height: 300px;
    position: absolute;
    top: -350px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
    opacity: 0.2;
}

.cafe, .te {
    text-align: left;
    width: 60%; 
    display: inline-block;
    margin: 13px 0;
    font-size: 40px;
    font-family: "Josefin Sans", sans-serif, serif;
}

.precio {
    text-align: center;
    width: 20%; 
    display: inline-block;
    margin: 13px 0;
    font-size: 33px;
}
.parallevar {
    width: 20%; 
    display: inline-block;
    margin: 13px 0;
    font-size: 33px;
    text-align: right;
}
.parallevar--titulo {
    /* PRUEBA tamaño del font */
    font-size: 28px;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif, serif;
}

.item.item--back.te {
    margin-bottom: 10px;
}


.bottom-line {
    margin-top: 25px;
}

/* Footer */

hr {
    height: 2px;
    background-color: orange;
    border-color: rgb(250, 211, 138);
    margin: 0 auto; 
    max-width: calc(100% - 40px);
}

footer {
    position: absolute; 
    bottom: 0; 
    text-align: center;
}
.textbot {
    font-size: 33px;
}